<% include ../partials/header %>
<link rel="stylesheet" type="text/css" href="/stylesheets/admin.css">

<div class="card" id="showTicket" style="width: 48rem;">
        <div class="card-body">
            <h5 class="card-title">
                <strong><%=ticket.name%></strong>
                <span id="emailAdress"><a href="mailto:<%=ticket.email%>"><%=ticket.email%></a></span>
            </h5>
                <p id="showTime"><%= ticket.created.toDateString()%></p>
                <p class="card-text"><%= ticket.message %></p>
            <form action="/tickets/<%= ticket._id %>?_method=DELETE" method=POST>
                <button id="deleteButton" class="btn"><i class="fas fa-trash-alt"></i></button>
            </form>
        </div>
    </div>